- title "News Item"

- if @news_item.allowed_to_rate?(@ip, current_user)
  %p  
    #stars{ :'data-id' => @news_item.id,  :'data-average' => @news_item.average_rating }  
- else  
  #stars.jDisabled{ :'data-id' => @news_item.id,  :'data-average' => @news_item.average_rating }
  %p
    %i You are not allowed to rate.  
  %p
    %i Limitations: 1 vote from IP address or 1 vote for user account.

%p
  %strong Title:
  = @news_item.title

%p
  %strong Created At:
  = @news_item.created_at

%p
  %strong User:
  = @news_item.user.email

%p
  %strong Body:
  = @news_item.body

%p
  = link_to "Edit", edit_news_item_path(@news_item)
  |
  = link_to "Destroy", @news_item, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", news_items_path
